# Keil / CubeIDE build products and local user settings
**/OBJ/
**/Listings/
**/*.uvoptx
**/*.uvguix*
**/*.user
**/*.log
**/*.bak
**/*.o
**/*.d
**/*.crf
**/*.axf
**/*.map
**/*.lnp
**/*.dep
**/*.lst
**/*.iex
**/*.htm
**/*.sct
**/*.hex
**/*.bin
**/*.obj
**/*.omf
**/*.ddk
**/*.edk
**/*.plg
**/*.rpt
**/*.tmp
**/*.tra
**/*.mpf
**/*.mpj
**/boot_diag_symbols.txt
**/JLinkLog.txt
**/JLinkSettings.ini
